html{
    font-family:sans-serif;
}
body{
    margin: 0
}
h1,h2,h3,h4,h5,h6{margin: 25px 0 15px 0}
h2{
	background-color: cornsilk;
    font-size: 17px;font-weight: bold;
    text-align: center;
}

#wrapper{
    width: 43%;
    margin: 0 auto;
    border: 1px solid grey;
    background-color: #ecb1b1;
}
.row{
    width:100%;
    display: inline-block;
    margin: 0 5px 0 60px;
}
.lbltitle{
    width:21%;
    float:left;
}
.lblinput, .lbloutput{
    width:70%;
    float: right;
}
.submit{
    padding: 10px 0;
    text-align: center;
    width: 78%
}