.padding{
    padding: 5px;
}

.text-center{
    text-align: center;
    padding-top:20px;
}

.right-panel{
    background-color: white;
}

.left-panel{
    background: url(https://source.unsplash.com/K4mSJ7kc0As/600x800);
    background-position: center;
    background-size: cover;
}